<<<<<<< HEAD
=======
/*ignore*/
@import url(../../public/css/style.css);
@import url(../../public/client/css/style.css);
@import url(../../node_modules/bootstrap-icons/font/bootstrap-icons.css);
@import url(../../node_modules/bootstrap/dist/css/bootstrap.min.css);
@import url(../../node_modules/bootstrap/dist/css/bootstrap-grid.min.css);
/*ignore*/
.navbar-brand img {
    width: 60px;
    height: 100%;
}

.navbar-brand a {
    width: fit-content;
}

.searchbar {
    height: 60px;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.navbar-nav {
    font-weight: lighter;
    padding: 5px 10px;
    align-items: center;
}

.navbar-nav li {
    height: fit-content;
    padding: 0px 10px;
}

.navbar-nav a {
    margin: 0px 15px !important;
    padding: 0;
}
>>>>>>> f954a80df4d62cae9bda9c268ebebe76f2a09961
