/*ignore*/
@import url(../../public/css/style.css);
@import url(../../public/client/css/style.css);
@import url(../../node_modules/bootstrap-icons/font/bootstrap-icons.css);
@import url(../../node_modules/bootstrap/dist/css/bootstrap.min.css);
@import url(../../node_modules/bootstrap/dist/css/bootstrap-grid.min.css);
/*ignore*/

.home-page {
    background: #F6F6F6;
}

.home-page h1 {
    font-weight: lighter;
}

.home-page hr {
    width: 15%;
}

.home-page form.search {
    padding: 0 0;
    padding-left: 10px;
}

.home-page button[type="submit"] {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}