.app {
    height: 100vh;
}

.section, .app .row {
    height: 100%;
}

.section-1 {
    background: white;
    box-shadow: 0 0 5px #0000000f;
}

.section-2 {
    background: #0000000f;
}

.section-1 .col-12:first-child {
    height: 15%;
}

.section-1 .col-12:last-child {
    height: 83.6%;
}

.section-1 .logo-section a {
    width: auto;
    height: -webkit-fill-available;
}

.section-1 .logo-section img {
    font-weight: bold;
    font-size: x-large;
    width: auto;
    height: 100%;
    object-fit: contain;
}

.menu-section .nav-item i {
    margin-right: 15px;
}

.menu-section .nav-item {
    text-transform: capitalize;
    cursor: pointer;
    font-size: large;
    padding: 15px;
    background: #0909091a;
    color: black;
    border-radius: 5px;
    font-weight: lighter;
}

.menu-section .nav-item:hover {
    background: #090909;
    color: white;
}

.menu-section .nav-item.active {
    background: #090909;
    color: white;
    border-radius: 5px;
    padding: 15px;
}

.section-2 .user-profile {
    border: 1px solid white;
    width: fit-content;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    font-size: 25px;
    cursor: pointer;
    box-shadow: 0 5px 5px #0000000f;
}

.section-2 input[type="search"] {
    padding-left: 40px !important;
    box-shadow: 0 5px 5px #0000000f;
}

.section-2 .search-icon {
    position: absolute;
    left: 0;
    padding: 10px 15px;
}

.section-2 .user-options ul {
    padding: 0;
    list-style: none;
    width: max-content;
    background-color: white;
    box-shadow: 0 5px 5px #0000000f;
    border-radius: 5px;
    overflow: hidden;
    height: max-content;
}

.section-2 .user-options li {
    background-color: transparent;
    border-radius: 0 !important;
    margin: 0 !important;
    font-size: medium;
}

.section-2 .user-options {
    position: absolute;
    top: 55px;
    right: 10px;
}

.header {
    height: 15%;
}

.pages {
    background: white;
    box-shadow: 0 5px 5px #0000000f;
    height: 85%;
    border-radius: 10px;
    overflow: hidden;
}

.page {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
}

.page::-webkit-scrollbar {
    display: none;
}

.dest {
    text-transform: capitalize;
}

.dashboard {
    height: 100%;
    background-image: url(/img/bg/bg-phone-cart.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.dashboard .col-12:first-child {
    height: 20%;
}

.dashboard .col-12:last-child {
    height: 80%;
}

.dashboard a {
    text-decoration: none;
    color: inherit;
}

.dashboard-nav-1 {
    display: flex;
    justify-content: flex-start;
}

.dashboard-nav-1 button i {
    font-size: large !important;
    margin-right: 10px;
}

.dashboard-nav-1 button {
    font-size: medium !important;
    margin-right: 20px;
    padding: 15px;
    width: fit-content;
    height: fit-content;
    box-shadow: 0 5px 5px #00000042;
    font-weight: 400;
}

.dashboard-nav button {
    border: none;
    border-radius: 10px;
    font-size: 20px;
    box-shadow: 0 5px 5px #00000042;
}

.dashboard-nav button:hover {
    background-color: black;
    color: white;
}

.dashboard-nav button i {
    font-size: 35px;
}

.menu-btn {
    height: fit-content;
    width: 25%;
    border: none;
    font-size: 30px;
    background: white;
    text-align: center;
    box-shadow: 0 5px 5px #0000000f;
    border-radius: 5px;
}

.menu-btn.close {
    position: absolute;
    right: 27px;
    top: 40px;
    width: fit-content;
    background: transparent;
    box-shadow: none;
}

.view-store-btn {
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
    font-size: large;
}

.view-store-btn i {
    font-size: larger;
}

.menu-btn.notification {
    font-size: x-large;
    border-radius: 50%;
    width: 45px;
    height: 45px;
}

.pages.alert h1 {
    font-weight: lighter !important;
}

.skeleton-box {
    background-color: #DDDBDD;
    position: relative;
}

.skeleton-box::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0));
    -webkit-animation: shimmer 2s infinite;
    animation: shimmer 2s infinite;
    content: "";
}

@-webkit-keyframes shimmer {
    100% {
        transform: translateX(100%);
    }
}

@keyframes shimmer {
    100% {
        transform: translateX(100%);
    }
}  

@media only screen and (max-width: 425px) { 
    .dashboard .col-12:first-child {
        height: 80%;
    }
    .dashboard .col-12:last-child {
        height: 20%;
    }
    .dashboard-nav button {
        font-size: medium !important;
        height: fit-content;
        width: fit-content;
        margin-right: 15px;
    }

    .dashboard-nav button i {
        font-size: x-large !important;
    }
    .section-2 input[type="search"] {
        width: 90% !important;
    }
}