.featured-categories.container-fluid.py-4.section
	h2.text-center.pt-4.heading Featured Products
	p.text-break.text-center Lorem ipsum dolor sit amet, et dolore magna aliqua.
	.container-fluid.p-md-5.d-flex.position-relative.full-height.justify-content-center.align-content-center.categories
		.col-md-10.col-12.d-flex.box-contn
			.col-8.col-md-3.p-3 
				.col-12.border.box
					a(href="#!")
						img(src="store/01.jpg", alt="hoodies")
				a(href="#!").center-item.p-3 HOODIES
			.col-8.col-md-3.p-3 
				.col-12.border.box
					a(href="#!")
						img(src="store/02.jpg", alt="hoodies")
				a(href="#!").center-item.p-3 JACKETS
			.col-8.col-md-3.p-3 
				.col-12.border.box
					a(href="#!")
						img(src="store/03.jpg", alt="hoodies")
				a(href="#!").center-item.p-3 WATCHES
			.col-8.col-md-3.p-3 
				.col-12.center-item.text-center.box 
					a(href="#!").last.p-5.center-item shop now