.newsletter
	.col-12.p-4
		.row
			.col-6
				p.p1  Newsletter
				p.p2
					| Lorem ipsum dolor sit amet, consectetur adipiscing elt.
					br
					|  Nulla quam velit, vulputate eu pharetra nec, mattis ac necque.
			.col-6.p-5
				form.form
					input.input(type='text' placeholder='Email Address' size='25')
					button.btn.btn-md(style='background-color: rgb(231, 231, 231); color: rgb(97, 95, 95);') Subscribe
