.featured-products.container-fluid.py-4.section
	h1.text-center.p-4.heading Featured Products
	.container-fluid.p-5.d-flex.position-relative.full-height.justify-content-center.align-content-center
		.featured-products-slider.position-relative.p-0.container-fluid.col-12
			.d-flex.p-0.container-fluid.full-height.position-relative.justify-content-center.align-items-center
				.slides.owl-carousel.owl-theme.position-relative.col-12.col-md-8
					.slide
					.slide
					.slide
					.slide
		.slides-control.d-flex.col-12.p-0.position-absolute.justify-content-center.align-items-center
			.col-12.col-md-8
				button.left.prev
					i.bi.bi-caret-left-fill
				button.right.next
					i.bi.bi-caret-right-fill
