.product-section-01.container-fluid.py-5.section
	.container-fluid.p-md-5.d-flex.position-relative.full-height.justify-content-center.align-content-center
		.container-fluid 
			.row
				.col-md-4.col-12.center-item
					.col-8.center-item
						a(href="#").product-link.col-12 
							.product-box
								.product
									img(src="store/01.jpg", alt="")
								.product-details 
									p.product-name product name 
									span.price 
										span.currency $
										| 0.00
				.col-md-8.col-12.r-md-5.center-item 
					.row.px-md-5
						.col-6
							a(href="#").product-link 
								.product-box
									.product
										img(src="store/01.jpg", alt="")
									.product-details 
										p.product-name product name 
										span.price 
											span.currency $
											| 0.00
						.col-6
							a(href="#").product-link 
								.product-box
									.product
										img(src="store/01.jpg", alt="")
									.product-details 
										p.product-name product name 
										span.price 
											span.currency $
											| 0.00
						.col-6
							a(href="#").product-link 
								.product-box
									.product
										img(src="store/01.jpg", alt="")
									.product-details 
										p.product-name product name 
										span.price 
											span.currency $
											| 0.00
						.col-6
							a(href="#").product-link 
								.product-box
									.product
										img(src="store/01.jpg", alt="")
									.product-details 
										p.product-name product name 
										span.price 
											span.currency $
											| 0.00