footer.footer.container-fluid.pt-5.section
	.container-fluid.px-md-5.d-flex.position-relative.full-height.justify-content-center.align-content-center
		.container-fluid.px-md-5 
			.container-fluid.text-center.text-md-start.px-md-4
				.row
					.col-md-4.mt-md-0.mt-3.text-start
						h5.text-uppercase
							a.navbar-brand.d-flex.justify-content-start(href='/')
								img(src='/img/logo/logo.png' alt='Younique')
						p 1717, Harrison St, San Fransisco, 
							br
							|CA 187219, USA.
					hr.clearfix.w-100.d-md-none.pb-1
					.col-md-4.mb-md-0.mb-3
						h5.text-capitalize Main Menu
						ul.list-unstyled
							li
								a(href='/') Home
							li
								a(href='/Shop') Shop
							li
								a(href='/About Us') About Us
							li
								a(href='/Help') Help
					.col-md-4.mb-md-0.mb-3
						h5.text-capitalize find us on
						ul.list-unstyled
							li
								a(href='#!') Facebook
							li
								a(href='#!') Instagram
							li
								a(href='#!') Twitter
					.footer-copyright.text-start.py-3
						| ©2022 Younique