.product-section-02.container-fluid.py-md-5.px-0.section
	.container-fluid.px-0.py-5.d-flex.position-relative.full-height.justify-content-center.align-content-center
		.col-12.col-md-12.p-1
			.row.m-0
				.col-12.col-md-6.col-lg-4.center-item.p-sm-0.px-md-5
					.container.py-3.px-sm-0.px-md-5
						h1.heading.pb-3 New Arrivals
						article.pb-3 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						.col-12.text-start.px-0.py-3
							button.primary-button BROWSE ALL
				.col-12.col-md-6.col-lg-8.center-item
					.container
						.row.row-cols-md-1.row-cols-lg-2.gy-3
							.col
								.col-12.product-contn
									.product-box
										.product
											img(src="store/01.jpg", alt="")
									.product-details 
										a(href="#" title="product name").product-link
											p.product-name product name 
											span.price 
												span.currency $
												| 0.00
										.product-btns
											button(type="button" title="add to cart") 
												i.bi.bi-bag 
											button(type="button" title="Save to favorites")
												i.bi.bi-bag-heart 
											button(type="button" title="Share") 
												i.bi.bi-share
							.col
								.col-12.product-contn
									.product-box
										.product
											img(src="store/01.jpg", alt="")
									.product-details 
										a(href="#" title="product name").product-link
											p.product-name product name 
											span.price 
												span.currency $
												| 0.00
										.product-btns
											button(type="button" title="add to cart") 
												i.bi.bi-bag 
											button(type="button" title="Save to favorites")
												i.bi.bi-bag-heart 
											button(type="button" title="Share") 
												i.bi.bi-share
							.col
								.col-12.product-contn
									.product-box
										.product
											img(src="store/01.jpg", alt="")
									.product-details 
										a(href="#" title="product name").product-link
											p.product-name product name 
											span.price 
												span.currency $
												| 0.00
										.product-btns
											button(type="button" title="add to cart") 
												i.bi.bi-bag 
											button(type="button" title="Save to favorites")
												i.bi.bi-bag-heart 
											button(type="button" title="Share") 
												i.bi.bi-share
							.col
								.col-12.product-contn
									.product-box
										.product
											img(src="store/01.jpg", alt="")
									.product-details 
										a(href="#" title="product name").product-link
											p.product-name product name 
											span.price 
												span.currency $
												| 0.00
										.product-btns
											button(type="button" title="add to cart") 
												i.bi.bi-bag 
											button(type="button" title="Save to favorites")
												i.bi.bi-bag-heart 
											button(type="button" title="Share") 
												i.bi.bi-share