.product-section-01.container-fluid.py-5.section
	.container-fluid.p-md-5.d-flex.position-relative.full-height.justify-content-center.align-content-center
		.container-fluid.positive-relative 
			.col-12.px-md-4
				h2.heading.px-1 Hoodies
			.row.py-md-4
				.col-md-3.col-12.center-item
					.col-10.center-item
						a(href="#").product-link.col-12 
							.product-box
								.product
									img(src="store/01.jpg", alt="")
								.product-details 
									p.product-name product name 
									span.price 
										span.currency $
										| 0.00
				.col-md-3.col-12.center-item
					.col-10.center-item
						a(href="#").product-link.col-12 
							.product-box
								.product
									img(src="store/01.jpg", alt="")
								.product-details 
									p.product-name product name 
									span.price 
										span.currency $
										| 0.00
				.col-md-3.col-12.center-item
					.col-10.center-item
						a(href="#").product-link.col-12 
							.product-box
								.product
									img(src="store/01.jpg", alt="")
								.product-details 
									p.product-name product name 
									span.price 
										span.currency $
										| 0.00
				.col-md-3.col-12.center-item
					.col-10.center-item
						a(href="#").product-link.col-12 
							.product-box
								.product
									img(src="store/01.jpg", alt="")
								.product-details 
									p.product-name product name 
									span.price 
										span.currency $
										| 0.00
		button.primary-button.nav-btn(dest="hoodie") shop more
	.container-fluid.p-md-5.d-flex.position-relative.full-height.justify-content-center.align-content-center
		.container-fluid 
			.col-12.px-md-4
				h2.heading.px-1 Jackets
			.row.py-md-4
				.col-md-3.col-12.center-item
					.col-10.center-item
						a(href="#").product-link.col-12 
							.product-box
								.product
									img(src="store/04.jpg", alt="")
								.product-details 
									p.product-name product name 
									span.price 
										span.currency $
										| 0.00
				.col-md-3.col-12.center-item
					.col-10.center-item
						a(href="#").product-link.col-12 
							.product-box
								.product
									img(src="store/04.jpg", alt="")
								.product-details 
									p.product-name product name 
									span.price 
										span.currency $
										| 0.00
				.col-md-3.col-12.center-item
					.col-10.center-item
						a(href="#").product-link.col-12 
							.product-box
								.product
									img(src="store/04.jpg", alt="")
								.product-details 
									p.product-name product name 
									span.price 
										span.currency $
										| 0.00
				.col-md-3.col-12.center-item
					.col-10.center-item
						a(href="#").product-link.col-12 
							.product-box
								.product
									img(src="store/04.jpg", alt="")
								.product-details 
									p.product-name product name 
									span.price 
										span.currency $
										| 0.00
		button.primary-button.nav-btn(dest="jacket") shop more
	.container-fluid.p-md-5.d-flex.position-relative.full-height.justify-content-center.align-content-center
		.container-fluid 
			.col-12.px-md-4
				h2.heading.px-1 Sneakers
			.row.py-md-4
				.col-md-3.col-12.center-item
					.col-10.center-item
						a(href="#").product-link.col-12 
							.product-box
								.product
									img(src="store/05.png", alt="")
								.product-details 
									p.product-name product name 
									span.price 
										span.currency $
										| 0.00
				.col-md-3.col-12.center-item
					.col-10.center-item
						a(href="#").product-link.col-12 
							.product-box
								.product
									img(src="store/05.png", alt="")
								.product-details 
									p.product-name product name 
									span.price 
										span.currency $
										| 0.00
				.col-md-3.col-12.center-item
					.col-10.center-item
						a(href="#").product-link.col-12 
							.product-box
								.product
									img(src="store/05.png", alt="")
								.product-details 
									p.product-name product name 
									span.price 
										span.currency $
										| 0.00
				.col-md-3.col-12.center-item
					.col-10.center-item
						a(href="#").product-link.col-12 
							.product-box
								.product
									img(src="store/05.png", alt="")
								.product-details 
									p.product-name product name 
									span.price 
										span.currency $
										| 0.00
		button.primary-button.nav-btn(dest="sneaker") shop more
	.container-fluid.p-md-5.d-flex.position-relative.full-height.justify-content-center.align-content-center
		.container-fluid 
			.col-12.px-md-4
				h2.heading.px-1 Accessories
			.row.py-md-4
				.col-md-3.col-12.center-item
					.col-10.center-item
						a(href="#").product-link.col-12 
							.product-box
								.product
									img(src="store/06.png", alt="")
								.product-details 
									p.product-name product name 
									span.price 
										span.currency $
										| 0.00
				.col-md-3.col-12.center-item
					.col-10.center-item
						a(href="#").product-link.col-12 
							.product-box
								.product
									img(src="store/06.png", alt="")
								.product-details 
									p.product-name product name 
									span.price 
										span.currency $
										| 0.00
				.col-md-3.col-12.center-item
					.col-10.center-item
						a(href="#").product-link.col-12 
							.product-box
								.product
									img(src="store/06.png", alt="")
								.product-details 
									p.product-name product name 
									span.price 
										span.currency $
										| 0.00
				.col-md-3.col-12.center-item
					.col-10.center-item
						a(href="#").product-link.col-12 
							.product-box
								.product
									img(src="store/06.png", alt="")
								.product-details 
									p.product-name product name 
									span.price 
										span.currency $
										| 0.00
		button.primary-button.nav-btn(dest="accessory") shop more