.product-section-01.container-fluid.py-5.px-0
	.container-fluid.px-0.py-5.d-flex.position-relative.full-height.justify-content-center.align-content-center
		.container-fluid.positive-relative.p-0.px-md-5.section
			.col-12.px-md-3
				h2.heading.py-5.px-3.px-md-0 Hoodies
			.row.px-3.pb-5
				.col-md-3.col-6.center-item.product-contn
					.col-12
						.col-12 
							.product-box
								.product
									img(src="store/01.jpg", alt="")
						.product-details 
							a(href="/product/" title="product name").product-link
								p.product-name product name 
								span.price 
									span.currency $
									| 0.00
							.product-btns
								button(type="button" title="add to cart") 
									i.bi.bi-bag 
								button(type="button" title="Save to favorites")
									i.bi.bi-bag-heart 
								button(type="button" title="Share") 
									i.bi.bi-share
				.col-md-3.col-6.center-item.product-contn
					.col-12
						.col-12 
							.product-box
								.product
									img(src="store/01.jpg", alt="")
						.product-details 
							a(href="#" title="product name").product-link
								p.product-name product name 
								span.price 
									span.currency $
									| 0.00
							.product-btns
								button(type="button" title="add to cart") 
									i.bi.bi-bag 
								button(type="button" title="Save to favorites")
									i.bi.bi-bag-heart 
								button(type="button" title="Share") 
									i.bi.bi-share
				.col-md-3.col-6.center-item.product-contn
					.col-12
						.col-12 
							.product-box
								.product
									img(src="store/01.jpg", alt="")
						.product-details 
							a(href="#" title="product name").product-link
								p.product-name product name 
								span.price 
									span.currency $
									| 0.00
							.product-btns
								button(type="button" title="add to cart") 
									i.bi.bi-bag 
								button(type="button" title="Save to favorites")
									i.bi.bi-bag-heart 
								button(type="button" title="Share") 
									i.bi.bi-share
				.col-md-3.col-6.center-item.product-contn
					.col-12
						.col-12 
							.product-box
								.product
									img(src="store/01.jpg", alt="")
						.product-details 
							a(href="#" title="product name").product-link
								p.product-name product name 
								span.price 
									span.currency $
									| 0.00
							.product-btns
								button(type="button" title="add to cart") 
									i.bi.bi-bag 
								button(type="button" title="Save to favorites")
									i.bi.bi-bag-heart 
								button(type="button" title="Share") 
									i.bi.bi-share
		button.primary-button.nav-btn(dest="hoodie").my-4 shop more
	.container-fluid.px-0.py-5.d-flex.position-relative.full-height.justify-content-center.align-content-center
		.container-fluid.positive-relative.p-0.px-md-5.section
			.col-12.px-md-3
				h2.heading.py-5.px-3.px-md-0 Jackets
			.row.px-3.pb-5
				.col-md-3.col-6.center-item.product-contn
					.col-12
						.col-12 
							.product-box
								.product
									img(src="store/04.jpg", alt="")
						.product-details 
							a(href="#" title="product name").product-link
								p.product-name product name 
								span.price 
									span.currency $
									| 0.00
							.product-btns
								button(type="button" title="add to cart") 
									i.bi.bi-bag 
								button(type="button" title="Save to favorites")
									i.bi.bi-bag-heart 
								button(type="button" title="Share") 
									i.bi.bi-share
				.col-md-3.col-6.center-item.product-contn
					.col-12
						.col-12 
							.product-box
								.product
									img(src="store/04.jpg", alt="")
						.product-details 
							a(href="#" title="product name").product-link
								p.product-name product name 
								span.price 
									span.currency $
									| 0.00
							.product-btns
								button(type="button" title="add to cart") 
									i.bi.bi-bag 
								button(type="button" title="Save to favorites")
									i.bi.bi-bag-heart 
								button(type="button" title="Share") 
									i.bi.bi-share
				.col-md-3.col-6.center-item.product-contn
					.col-12
						.col-12 
							.product-box
								.product
									img(src="store/04.jpg", alt="")
						.product-details 
							a(href="#" title="product name").product-link
								p.product-name product name 
								span.price 
									span.currency $
									| 0.00
							.product-btns
								button(type="button" title="add to cart") 
									i.bi.bi-bag 
								button(type="button" title="Save to favorites")
									i.bi.bi-bag-heart 
								button(type="button" title="Share") 
									i.bi.bi-share
				.col-md-3.col-6.center-item.product-contn
					.col-12
						.col-12 
							.product-box
								.product
									img(src="store/04.jpg", alt="")
						.product-details 
							a(href="#" title="product name").product-link
								p.product-name product name 
								span.price 
									span.currency $
									| 0.00
							.product-btns
								button(type="button" title="add to cart") 
									i.bi.bi-bag 
								button(type="button" title="Save to favorites")
									i.bi.bi-bag-heart 
								button(type="button" title="Share") 
									i.bi.bi-share
		button.primary-button.nav-btn(dest="jacket").my-4 shop more
	.container-fluid.px-0.py-5.d-flex.position-relative.full-height.justify-content-center.align-content-center
		.container-fluid.positive-relative.p-0.px-md-5.section
			.col-12.px-md-3
				h2.heading.py-5.px-3.px-md-0 Sneakers
			.row.px-3.pb-5
				.col-md-3.col-6.center-item.product-contn
					.col-12
						.col-12 
							.product-box
								.product
									img(src="store/05.png", alt="")
						.product-details 
							a(href="#" title="product name").product-link
								p.product-name product name 
								span.price 
									span.currency $
									| 0.00
							.product-btns
								button(type="button" title="add to cart") 
									i.bi.bi-bag 
								button(type="button" title="Save to favorites")
									i.bi.bi-bag-heart 
								button(type="button" title="Share") 
									i.bi.bi-share
				.col-md-3.col-6.center-item.product-contn
					.col-12
						.col-12 
							.product-box
								.product
									img(src="store/05.png", alt="")
						.product-details 
							a(href="#" title="product name").product-link
								p.product-name product name 
								span.price 
									span.currency $
									| 0.00
							.product-btns
								button(type="button" title="add to cart") 
									i.bi.bi-bag 
								button(type="button" title="Save to favorites")
									i.bi.bi-bag-heart 
								button(type="button" title="Share") 
									i.bi.bi-share
				.col-md-3.col-6.center-item.product-contn
					.col-12
						.col-12 
							.product-box
								.product
									img(src="store/05.png", alt="")
						.product-details 
							a(href="#" title="product name").product-link
								p.product-name product name 
								span.price 
									span.currency $
									| 0.00
							.product-btns
								button(type="button" title="add to cart") 
									i.bi.bi-bag 
								button(type="button" title="Save to favorites")
									i.bi.bi-bag-heart 
								button(type="button" title="Share") 
									i.bi.bi-share
				.col-md-3.col-6.center-item.product-contn
					.col-12
						.col-12 
							.product-box
								.product
									img(src="store/05.png", alt="")
						.product-details 
							a(href="#" title="product name").product-link
								p.product-name product name 
								span.price 
									span.currency $
									| 0.00
							.product-btns
								button(type="button" title="add to cart") 
									i.bi.bi-bag 
								button(type="button" title="Save to favorites")
									i.bi.bi-bag-heart 
								button(type="button" title="Share") 
									i.bi.bi-share
		button.primary-button.nav-btn(dest="sneaker").my-4 shop more
	.container-fluid.px-0.py-5.d-flex.position-relative.full-height.justify-content-center.align-content-center
		.container-fluid.positive-relative.p-0.px-md-5.section
			.col-12.px-md-3
				h2.heading.py-5.px-3.px-md-0 Sneakers
			.row.px-3.pb-5
				.col-md-3.col-6.center-item.product-contn
					.col-12
						.col-12 
							.product-box
								.product
									img(src="store/06.png", alt="")
						.product-details 
							a(href="#" title="product name").product-link
								p.product-name product name 
								span.price 
									span.currency $
									| 0.00
							.product-btns
								button(type="button" title="add to cart") 
									i.bi.bi-bag 
								button(type="button" title="Save to favorites")
									i.bi.bi-bag-heart 
								button(type="button" title="Share") 
									i.bi.bi-share
				.col-md-3.col-6.center-item.product-contn
					.col-12
						.col-12 
							.product-box
								.product
									img(src="store/06.png", alt="")
						.product-details 
							a(href="#" title="product name").product-link
								p.product-name product name 
								span.price 
									span.currency $
									| 0.00
							.product-btns
								button(type="button" title="add to cart") 
									i.bi.bi-bag 
								button(type="button" title="Save to favorites")
									i.bi.bi-bag-heart 
								button(type="button" title="Share") 
									i.bi.bi-share
				.col-md-3.col-6.center-item.product-contn
					.col-12
						.col-12 
							.product-box
								.product
									img(src="store/06.png", alt="")
						.product-details 
							a(href="#" title="product name").product-link
								p.product-name product name 
								span.price 
									span.currency $
									| 0.00
							.product-btns
								button(type="button" title="add to cart") 
									i.bi.bi-bag 
								button(type="button" title="Save to favorites")
									i.bi.bi-bag-heart 
								button(type="button" title="Share") 
									i.bi.bi-share
				.col-md-3.col-6.center-item.product-contn
					.col-12
						.col-12 
							.product-box
								.product
									img(src="store/06.png", alt="")
						.product-details 
							a(href="#" title="product name").product-link
								p.product-name product name 
								span.price 
									span.currency $
									| 0.00
							.product-btns
								button(type="button" title="add to cart") 
									i.bi.bi-bag 
								button(type="button" title="Save to favorites")
									i.bi.bi-bag-heart 
								button(type="button" title="Share") 
									i.bi.bi-share
		button.primary-button.nav-btn(dest="accessory").my-4 shop more