.about.container-fluid.py-5.section.px-md-5
	.container-fluid.p-md-5.d-flex.position-relative.full-height.justify-content-center.align-content-center
		.container-fluid.px-md-5 
			h2.heading.text-center.py-3 About Us
			article Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut 
				| labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.