.newsletter.pt-4.pb-3.px-2.section.d-flex.justify-content-center.align-items-center
	.col-md-10.col-12.p-4
		.row
			.col-md-6.col-12
				h2.heading  Newsletter
				p.p2 Lorem ipsum dolor sit amet, consectetur adipiscing elt.
					br
					|Subscribe to our newsletter
			.col-md-6.col-12.p-md-3
				form.form
					input.input(type='text' placeholder='Email Address')
					button.btn.btn-md.primary-button Subscribe
