header.py-2.px-5.shadow-sm
	nav.navbar.navbar-expand-lg.navbar-light.col-12.py-0.position-relative
		.col-2
			a.navbar-brand.d-flex.justify-content-center(href='/')
				img(src='/img/logo/logo.png' alt='Younique')
		button#menuButton.navbar-toggler(type='button')
			span.navbar-toggler-icon
		.searchbar.d-none.d-lg-flex.col-3
			form#headerSearchForm.search.form
				button(type='button')
					i.bi.bi-search
				input#headerSearchInput(type='text' placeholder='Search...')
		.d-none.d-lg-block
			ul.navbar-nav.ms-auto.text-center
				li
					a.nav-link(href='/') Home
				| |
				li
					a.nav-link(href='/about-us') About Us
				| |
				li
					a.nav-link(href='/shop') Shop
				| |
				li
					a.nav-link(href='/help') Help
				li.nav-link
					button(title="Your Cart").primary-button.cart-button
						i.bi.bi-bag-fill
						span 0
		#Menu.d-block.d-lg-none.small-menu.hide-menu
			.container-fluid.full-height 
				.row.full-height 
					.menu-void.col-6(onclick='closeMenu()')
					.col-6.menu-.shadow
						button.close-btn(onclick='closeMenu()')
							i.bi.bi-x-lg
						ul.menu-links
							li
								a
									i.bi.bi-house
									span.nav-link(href='/') Home
							li
								a
									i.bi.bi-journals
									span.nav-link(href='/About Us') About Us
							li
								a
									i.bi.bi-shop
									span.nav-link(href='/Shop') Shop
							li
								a
									i.bi.bi-info
									span.nav-link(href='/Help') Help
							.d-flex.justify-content-center
								button(title="Your Cart").primary-button.cart-btn.cart-button
									i.right.bi.bi-bag-fill
									span 0
		button(title="Your Cart").primary-button.cart-button-bottom.cart-button.d-block.d-lg-none.m-3.my-4.m-md-4.shadow
			i.bi.bi-bag-fill
			span 0
