.home-page.py-5.px-2
	.container-fluid.text-center.pt-2.pb-2
		h1 Tagline describing Shop
	.container-fluid.py-3.d-flex.justify-content-center.align-items-center
		hr
	.container-fluid.d-flex.justify-content-center.align-items-center
		form.search.col-10.position-relative
			button(type='button')
				i.bi.bi-search
			input(type='text' placeholder='Search...')
			button.text-uppercase.primary-button(type='submit') submit
