doctype html
html.theme-light
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0")    
		title= title
		meta(property='og:locale' content='en_US')
		meta(property='og:type' content='article')
		meta(property='og:title' content='Younique | Online Fashion Store | Buy Fashion Products')
		meta(name="robots" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1")
		link(rel="canonical" href="https://younique-store.herokuapp.com/")
		meta(property='og:description' content='Shop a wide range of fashion products online at Best Prices. Explore fashion products such as hoodies, jackets, sneakers & more. Shop Now')
		meta(property='og:url' content='https://younique-store.herokuapp.com/')
		meta(property='og:site_name' content='Younique')
		meta(property='article:published_time' content='2022-06-15T08:00:56+00:00')
		meta(property='article:modified_time' content='2022-06-16T08:00:56+00:00')
		meta(property='og:updated_time' content='20212-06-15T08:00:56+00:00')
		meta(property='og:image' content='https://younique-store.herokuapp.com/img/bg/bg-phone-cart.png')
		meta(property='og:image:secure_url' content='https://younique-store.herokuapp.com/img/bg/bg-phone-cart.png')
		meta(property='og:image:width' content='740')
		meta(property='og:image:height' content='555')
		meta(property='og:image:alt' content='Younique')

		//straps
		link(rel='stylesheet', href='/css/bootstrap.min.css')
		link(rel='stylesheet', href='bootstrap-icons.css')
		link(rel='stylesheet', href='/css/bootstrap-grid.min.css')
		link(rel='stylesheet' href='/owl.carousel.min.css')
		link(rel='stylesheet' href='/owl.theme.default.min.css')
		//font icons
		link(rel='stylesheet', href='/all.css')
		link(rel='apple-touch-icon' sizes='180x180' href='/img/logo/android-chrome-192x192.png')
		link(rel='icon' type='image/png' sizes='32x32' href='/img/logo/favicon-32x32.png')
		link(rel='icon' type='image/png' sizes='16x16' href='/img/logo/favicon-16x16.png')
		link(rel='manifest' href='/site.webmanifest')
		//stylesheets
		link(rel='stylesheet', href='/css/animations.css')
		link(rel='stylesheet', href='/css/style.css')
		link(rel='stylesheet', href='/client/css/style.css')
		link(rel='stylesheet', href='/client/css/header.css')
		link(rel='stylesheet', href='/client/css/home-page.css')
		link(rel='stylesheet', href='/client/css/featured-products.css')
		link(rel='stylesheet', href='/client/css/newsletter.css')
		link(rel='stylesheet', href='/client/css/product-sections.css')
	body
		block content
		
		script(src="/jquery.min.js")
		script(src='/owl.carousel.min.js')
		script(src="js/bootstrap.min.js")
		script(src="/client/js/ui.js") 
		script(src="/owl.carousel.min.js") 


