.home-page.pt-4.pb-3.px-2
	.container-fluid.text-center.py-md-3
		h2.heading.py-3 Tagline describing Shop
	.container-fluid.pb-md-2.d-flex.justify-content-center.align-items-center
		hr.m-0.m-md-2
	.container-fluid.d-flex.justify-content-center.align-items-center.py-4.section-1
		.row 
			.col-md-3.col-6.p-0
				.product(href="/hoodies")
					img(src="store/01.jpg", alt="")
					.product-veil
						h3(data-glitch="hoodies").glitch hoodies
			.col-md-3.col-6.p-0
				.product
					img(src="store/04.jpg", alt="")
					.product-veil
						h3(data-glitch="jackets").glitch jackets
			.col-md-3.col-6.p-0
				.product
					img(src="store/05.png", alt="")
					.product-veil
						h3(data-glitch="sneakers").glitch sneakers
			.col-md-3.col-6.p-0
				.product
					img(src="store/06.png", alt="")
					.product-veil
						h3(data-glitch="accessories").glitch accessories
			.container-fluid.d-flex.justify-content-center.align-items-center.py-5.pb-5
				button.primary-button.px-5 SHOP NOW
