@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

:root {
    --primary-bg: #e5e5e5;
    --secondary-bg: #090909;
    --border: #7A7A7A;
}

body {
    height: 100%;
    font-family: 'Poppins';
}

img {
    width: 100%;
}

.full-height {
    height: 100%;
}

.bg-none {
    background: transparent;
}

.border- {
    border: 1px solid var(--border);
}

.app {
    padding-top: 76px;
}

.center-item {
    display: flex;
    justify-content: center;
    align-items: center;
}