.navbar-brand img {
    width: 60px;
    height: 100%;
}

.navbar-brand a {
    width: fit-content;
}

.searchbar {
    height: 60px;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.navbar-nav {
    font-weight: lighter;
    padding: 5px 10px;
    align-items: center;
}

.navbar-nav li {
    height: fit-content;
    padding: 0px 10px;
}

.navbar-nav a {
    margin: 0px 15px !important;
    padding: 0;
}