.primary-input {
    border: transparent;
    border-radius: 5px;
    background-color: var(--primary-bg);
}

.primary-button {
    border: transparent;
    border-radius: 5px;
    background-color: var(--secondary-bg) !important;
    color: white;
    padding: 10px 15px;
    font-weight: lighter;
    position: relative;
}

.primary-button:hover {
    transition: all .50s;
    color: black;
    background-color: var(--primary-bg) !important;
}

.primary-button i.right {
    margin-right: 5px;
}

.primary-button i.left {
    margin-left: 5px;
}

.heading {
    font-weight: lighter;
}

.form {
    border: transparent;
    border-radius: 5px;
    background-color: var(--primary-bg);
    padding: 7px 10px;
    display: flex;
}

.form input,
.form button {
    border: transparent;    
    background: transparent;
    outline: none;
    font-weight: lighter;
}

.form button[type="button"] {
    width: 10%;
    pointer-events: none;
}

.form input {
    width: 90%;
}

.product {
    width: 100%;
    height: 250px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

.product img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.product:hover img {
    -webkit-animation:kenburns-bottom 1s ease-out both;
    animation:kenburns-bottom 1s ease-out both;
}

.product-veil {
    background: #00000071;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 8px !important;
    word-wrap: break-word;
}

.product-box {
    width: 100%;
}

.product-details {
    padding: 15px 0px;
    color: black;
    position: relative;
}

.product-details p {
    margin: 5px 0px;
    text-transform: capitalize;
}

.product-details .price {
    position: relative;
    width: 100%;
    display: block;
}

.product-link {
    color: black;
    text-decoration: none;
    width: 100%;
}

.product-link:hover {
    color: black;
}

.product-btns {
    display: flex;
    justify-content: end;
    position: absolute;
    bottom: 15px;
    right: 0;
    z-index: 100;
}

.product-btns button {
    margin: 0 10px 0 0;
    position: relative !important;
    background: var(--primary-bg);
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 5px #00000011;
}

.product-btns button:hover {
    background-color: var(--secondary-bg);
    color: white;
}

button.filled {
    background: black;
    color: white;
}

.featured-products .product-details {
    font-size: 1.2em !important;
}

.section {
    width: 100%;
    border-top: 1px solid #0000001c;
}

.cart-button-bottom {
    position: fixed;
    bottom: 15px;
    right: 10px;
}

.cart-button {
    padding: 6px 20px 5px 15px;
}

.cart-button span {
    position: absolute;
    top: 3px;
    right: 10px;
    padding: 0 !important;
    font-size: small;
}

footer {
    background: var(--primary-bg);
}

footer ul li {
    margin-top: 5px;
}

footer ul li a {
    text-decoration: none;
    color: black;
    font-weight: lighter;
}