.primary-input {
    border: transparent;
    border-radius: 5px;
    background-color: var(--primary-bg);
}

.primary-button {
    border: transparent;
    border-radius: 5px;
    background-color: var(--secondary-bg) !important;
    color: white;
    padding: 10px 15px;
    font-weight: lighter;
}

.primary-button:hover {
    transition: all .50s;
    color: black;
    background-color: var(--primary-bg) !important;
}

.primary-button i.right {
    margin-right: 5px;
}

.primary-button i.left {
    margin-left: 5px;
}

.heading {
    font-weight: lighter;
}

form.search {
    border: transparent;
    border-radius: 5px;
    background-color: var(--primary-bg);
    padding: 7px 10px;
    display: flex;
}

form.search input,
form.search button {
    border: transparent;    
    background: transparent;
    outline: none;
    font-weight: lighter;
}

form.search button[type="button"] {
    width: 10%;
    pointer-events: none;
}

form.search input {
    width: 90%;
}

.product {
    width: 100%;
    height: 250px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

.product img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.product:hover img {
    -webkit-animation:kenburns-bottom 1s ease-out both;
    animation:kenburns-bottom 1s ease-out both;
}

.product-veil {
    background: #00000096;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 8px !important;
    word-wrap: break-word;
}